* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    border-color: gray;
    box-shadow: 5px 10px 27px -10px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 10px 27px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 10px 27px -10px rgba(0, 0, 0, 0.75);
}

.number-input {
    width: 30px;
    height: 20px;
}

.text-result {
    font-weight: bold;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.gap-3 {
    gap: 15px;
}

.flex {
    display: flex;
}

.margin-3 {
    margin: 15px;
}

.slider {
    -webkit-appearance: none;
    width: 70%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: black;
    cursor: pointer;
}